<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @topic.status %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) if policy(@topic).edit? %> |
<%= link_to 'Back', topics_path %> |
<%= link_to 'Department Approve', department_approve_topic_path(@topic), method: :post if policy(@topic).department_approve? %> |
<%= link_to 'Faculty Approve', faculty_approve_topic_path(@topic), method: :post if policy(@topic).faculty_approve? %>