<%= form_with(model: thesis_application) do |form| %>
  <% if thesis_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thesis_application.errors.count, "error") %> prohibited this thesis_application from being saved:</h2>

      <ul>
        <% thesis_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cover_letter %>
    <%= form.text_area :cover_letter %>
  </div>

  <div class="actions">
    <%= form.submit "Apply" %>
  </div>
<% end %>
